.container {
    margin-top: 20px;
}

.row {
    width: 60%;
    margin: 0 auto;
    text-align: center;
    margin-top: 15px;
}

.patient-heading {
    text-align: center;
}

.patient-subheading {
    text-align: center;
}

.list-group {
    text-align: left;
    margin: 0 auto;
}

.list-group-item {
    border: none;
}

.vl {
    border-left: 1px solid #ddd;
    height: 300px;
    position: absolute;
    left: 50%;
    top: 25%;
  }

  .form-label-doc {
      text-align: left;
      margin-left: 30px;
      font-weight: 600;
      margin-top: 15px;
  }

  .input-group {
      margin-left: 30px;
      margin-right: 30px;
  }

  .form-group {
      margin-left: 30px;
  }

  .modal-button{
      float: right;
      margin-top: 4%;
      
  }

  .panel-info {
      margin-top:  30px;
  }

  .prescription-btn {
      float: right;
      padding: 2px 12px;
  }

 