/* .container {
    margin-top: 20px;
} */

.row {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    margin-top: 15px;
}

.patient-heading {
    text-align: center;
}

.patient-subheading {
    text-align: center;
}

.list-group {
    text-align: left;
    margin: 0 auto;
}

.list-group-item {
    border: none;
}

.vl {
    border-left: 1px solid #ddd;
    height: 300px;
    position: absolute;
    left: 50%;
    top: 25%;
  }

  .form-label-doc {
      text-align: left;
      margin-left: 30px;
      font-weight: 600;
      margin-top: 15px;
  }

  .input-group {
      margin-left: 30px;
      margin-right: 30px;
  }

  .form-group {
      margin-left: 30px;
      width: 40%;
  }

  .modal-button{
      float: right;
      margin-top: 3%;
      
  }

  .panel-info {
      margin-top:  30px;
  }

  #myAlert {
      display: none;
  }

  .form-control {
      width: 100% !important;
  }

  .addr{
    display: inline;
    float: left;
    text-align: left;
  }

  .showAddr {
      display: inline;
      margin-left: 10px;
  }

  .addresses {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
    padding: 5px 15px;
border: 1px solid transparent;
border-radius: 4px;
width: 90%; margin-left: 5%;
margin-top: 15px;
  }