.navigation {
    width: 50%;
    margin: 0 auto;
    text-align: center;
    margin-top: 2%;
}

h1 {
    margin-bottom: 10%;
}

.nav-tabs li {
   width: 50%;
}

.tab-content {
    text-align: left;
    margin: 30px;
}

.or {
    margin-top: -2.2%;  
    position: absolute;  
    margin-left: 17%;
    background-color: white;
    padding: 0px 10px;
}

.input-group {
    margin-bottom: 40px;
    width: 92%;
}

.login-button {
    width: 80px;
}